<div class="row content">
       
    <div class="col-md-7">
       <div class="nickey">
           <h2 class="content-heading">First heading goes here.<span class="text-muted">This looks great</span></h2>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae quasi exercitationem magnam quaerat a iusto, magni perferendis itaque atque est praesentium architecto et facere quo accusantium nobis voluptate asperiores temporibus.
        </p>
           
       </div>
        
    </div>


    <div class="col-md-5">
        <img src="assets/images/pokemon.png" alt="pokemon" class="content-image img-responsive center-block mickey">
    </div>
</div>


    <div class="row content">
    <div class="col-md-5">
        <img src="assets/images/pokemon.png" alt="pokemon" class="content-image img-responsive center-block mickey">
    </div>
    <div class="col-md-7">
       <div class="nickey">
           <h2 class="content-heading">First heading goes here.<span class="text-muted">This looks great</span></h2>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae quasi exercitationem magnam quaerat a iusto, magni perferendis itaque atque est praesentium architecto et facere quo accusantium nobis voluptate asperiores temporibus.
        </p>
           
       </div>
        
    </div>
</div>
    
    <div class="row content">
       <div class="col-md-7">
       <div class="nickey">
           <h2 class="content-heading">First heading goes here.<span class="text-muted">This looks great</span></h2>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae quasi exercitationem magnam quaerat a iusto, magni perferendis itaque atque est praesentium architecto et facere quo accusantium nobis voluptate asperiores temporibus.
        </p>
           
       </div>
        
    </div>
    <div class="col-md-5">
        <img src="assets/images/pokemon.png" alt="pokemon" class="content-image img-responsive center-block mickey">
    </div>
        
    </div>

 
    


