<br>
  <div class="container">
     <div class="row">
      <div class="col-lg-4">
          <img src="assets/images/boy.jpeg" alt="boy">
          <h1>Team member1</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quos eveniet minima aspernatur ea explicabo molestias, laborum deleniti, ducimus voluptatem.</p>
           <p><a href="#" class="button">show more &raquo;</a></p>
          
      </div>
      <div class="col-lg-4">
        <img src="assets/images/boy.jpeg" alt="boy">
        <h1>Team member2</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quos eveniet minima aspernatur ea explicabo molestias, laborum deleniti, ducimus voluptatem.</p>
         <p><a href="#" class="button">show more &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <img class="img-circle" src="assets/images/boy.jpeg" alt="boy">
        <h1>Team member3</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quos eveniet minima aspernatur ea explicabo molestias, laborum deleniti, ducimus voluptatem.</p>
         <p><a href="#" class="button">show more &raquo;</a></p>
    </div>
    </div>
</div>

      